doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous' referrerpolicy='no-referrer')
  style 
    include  ../assets/css/style.css

  script( language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" )
  script
    include ../assets/JS/alert.js
  
  title CRUD APPLICATION

// header


header.header
  nav
    .text-center
      a.nav-brand(href='/') CRUD APP
// center container
main#site-main
  .container
    .box-nav
      a.body-shadow(href='/')
        span.text-gradient
          span#text All Users
          i#a.fa-solid.fa-arrow-left
    h2.heading2 Update user
    span.subheading Please fill the following details
    // form heading

    
    
    form( method="post" id="update_user")
      .new_user
        .form-group
          input(type="hidden" value= user._id name='id') 
        .form-group
          .tags NAME

          input(class="box" type='text' name='name' placeholder='Enter name' value= user.name)
        .form-group
          .tags EMAIL
          input(class="box2" type='text' name='email' placeholder='Enter email' value= user.email)
        .form-group
          .tags GENDER


          input(class="radio" type='radio' name='gender' value='Male' checked=user.gender=='Male' )  
          .tags MALE 
          input(class="radio" type='radio' name='gender' value='Female' checked=user.gender=='Female' )
          .tags FEMALE 
        .form-group
          .tags STATUS 
          input(class="radio2" type='radio' name='stat' value='Active' checked=user.stat=='Active')
          .tags ACTIVE 
          input(class="radio2" type='radio' name='stat' value='Inactive' checked=user.stat=='Inactive')
          .tags INACTIVE

        .btn-gr
          button(class='btn') SUBMIT

     


























      //- .new_user
      //-   .form-group
      //-     label.msginp(for='name') Name
      //-     input.input(id='name' type='text' name='name' value='' placeholder='Enter the name')
      //-   .form-group
      //-     label.msginp(for='email') Email
      //-     input.input(id='email' type='text' name='email' value='' placeholder='Enter the email')
      //-   .form-group
      //-     label#gender.msginp(for='gender') Gender
      //-     .gender
      //-       input(id='gender' type='radio' name='gender' value='Male')
      //-       label.msginp(for='gender') Male
      //-       input(id='gender' type='radio' name='gender' value='Female')
      //-       label.msginp(for='gender') Female
      //-   .form-group
      //-     label#status.msginp(for='status') Status
      //-     .status
      //-       input(id='stat' type='radio' name='stat' value='Active')
      //-       label.msginp(for='stat') Active
      //-       input(id='stat' type='radio' name='stat' value='Inactive')
      //-       label.msginp(for='stat') Inactive
      //-   .form-group
      //-     button.btn(type='button') Submit



//- form#add_user(action='/form' method='POST')
//-   .new_user
//-     .form-group
//-       label.text-light(for='name') Name
//-       input(type='hidden' name='id' value='')
//-       input(type='text' name='name' value='' placeholder='Mark Stoenis')
//-     .form-group
//-       label.text-light(for='Email') Email
//-       input(type='text' name='email' value='' placeholder='example@gmail.com')
//-     .form-group
//-       label.text-light(for='gender') Gender
//-       .radio.inline
//-         input#radio-2(type='radio' name='gender' value='Male')
//-         label.radio-label(for='radio-2') Male
//-       .radio.inline
//-         input#radio-3(type='radio' name='gender' value='Female')
//-         label.radio-label(for='radio-3') Female
//-     .form-group
//-       label.text-light(for='gender') Status
//-       .radio.inline
//-         input#radio-4(type='radio' name='stat' value='Active')
//-         label.radio-label(for='radio-4') Active
//-       .radio.inline
//-         input#radio-5(type='radio' name='stat' value='Inactive')
//-         label.radio-label(for='radio-5') Inactive
//-     .form-group
//-       button.btn.text-dark.update(type='submit') Save












//- doctype html
//- head
//-   meta(charset='UTF-8')
//-   meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous' referrerpolicy='no-referrer')
//-   style 
//-     include  ../assets/css/style.css
//-   title CRUD APPLICATION
//- // header
//- header.header
//-   nav
//-     .text-center
//-       a.nav-brand(href='/') CRUD APP
//- // center container
//- main#site-main
//-   .container
//-     .box-nav
//-       a.body-shadow(href='/')
//-         span.text-gradient
//-           span#text All Users
//-           i#a.fa-solid.fa-arrow-left
//-     h2.heading2 Update user
//-     span.subheading Please fill the following details
//-     // form heading
//-     form(action='/' method='POST')
//-       .new_user
//-         .form-group
//-           label.msginp(for='name') Name
//-           input.input(type='text' name='name' value='' placeholder='Enter the name')
//-         .form-group
//-           label.msginp(for='email') Email
//-           input.input(type='text' name='email' value='' placeholder='Enter the email')
//-         .form-group
//-           label#gender.msginp(for='gender') Gender
//-           input.input(type='text' name='gender' value='' placeholder='Enter gender')
//-           .gender
//-             input(type='radio' name='gender' value='Male')
//-             label.msginp(for='gender') Male
//-             input(type='radio' name='gender' value='Female')
//-             label.msginp(for='gender') Female
//-         .form-group
//-           label#status.msginp(for='stat') Status
//-           input.input(type='text' name='stat' value='' placeholder='Enter status')
//-           .status
//-             input(type='radio' name='stat' value='Active')
//-             label.msginp(for='stat') Active
//-             input(type='radio' name='stat' value='Inactive')
//-             label.msginp(for='stat') Inactive
//-       button.btn(type='button') Submit
